//! Picnic CSS http://www.picnicss.com/

// Imports the base variable styles
@import './styles/theme.scss';

// Normalize.css (external library)
// @import './styles/normalize.scss'

// Generic styles for things like <body>, <a> and others
// It also overwrites normalize.css a bit

// Simple elements
// @import './plugins/label/plugin';
// @import './plugins/button/plugin';

// Forms
// @import './plugins/input/plugin';
// @import './plugins/select/plugin';
// @import './plugins/radio/plugin';
// @import './plugins/checkbox/plugin';

body {
    display: flex;
    justify-content: center;
    // background: $aqua;
}
main {
    min-width: 350px;
    padding: 10px;
}
a {
	color: rgb(0,100,200);
    text-decoration: none;
    &:hover {
        color: rgb(173, 145, 18);
        text-decoration: underline;
    }
    &::visited {
        color: rgb(0,80,160);
    }
}

button, input[type=submit] {
    display: inline-block;
    text-align: center;
    letter-spacing: inherit;
    margin: 0;
    padding: 10px;
    vertical-align: middle;
    background: $picnic-primary;
    color: $picnic-white;
    border: 0;
    border-radius: 4px;
    width: auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color: #333;
    &:active {
        background-color: #ddd;
    }
    &:focus {
        border-color: #666;
    }
}